[Unit]
Description=Vinyl Emulator Web UI
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/home/pi/vinyl-emulator/.venv/bin/python3 /home/pi/vinyl-emulator/app.py --host 0.0.0.0
WorkingDirectory=/home/pi/vinyl-emulator
Restart=on-failure
RestartSec=5
MemoryLimit=256M
User=pi

[Install]
WantedBy=multi-user.target
